
body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background-color: #76045D;
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-rows: 100px 1fr 100px;
}

header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;

}

main{
    grid-area: main;
    display: grid;
    grid-template-areas: 
    "description product social";
    grid-template-columns: 380px 1fr 48px;
    padding: 0 100px;
}

.social-icon{
    display: grid;
    place-items: center;
    height: 48px;
    width: 48px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 1,5rem;
    transition: all .5s;
}

.social-icon:hover{
    background-color: #CF09A4;
    border: 2px solid #CF09A4;
}

footer{
    grid-area: footer;

}